.lists{
  color: aqua;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;

}
.friends>span{
    font-size: 25px;
    color:ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
